body{
	background-color: slategrey;
}

.ui-panel-titlebar{
	text-align: center;
}
.ui-panel {
    padding: 0.2em;
    margin: auto;
    min-width: 336px;
    min-height: 170px;
    position: absolute;
    top: 30%;
    margin: 0 auto;
    left: 35%;
  
}