<ui:composition xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:f="http://java.sun.com/jsf/core"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  template="template.xhtml">
	  
	 
	 
	<ui:define name="conteudo">
	<a href="index.jsf"> Sair</a>
		<center>
			<p:outputLabel value="#{usuarioController.usuario_login.nome}" />
			<h2>Usuario Logado</h2>
		</center>
	</ui:define>
	
</ui:composition>
