<?xml version="1.0" encoding="ISO-8859-1" ?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:h="http://java.sun.com/jsf/html"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets"
	  >
	  
	  
<h:head>
	<title>Sistema de Login</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" /> 
</h:head>

<h:body>

	<ui:insert name="conteudo"/>

</h:body>


</html>